doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home 
        link(rel="stylesheet", href="/css/index.css")
    body 
        header.main-header 
            nav.main-nav 
                ul.main-list    
                    li.item1 
                        a(href="/") Bloodpath 
                    li.item 
                        a(href="/login") Login
                    li.item 
                        a(href="/register") Register  
        main.main-content
            p.pincaption Enter your Pincode to search for nearby Donors
            div.pinform
                 
                form(action="/searchpincode" ,method="POST")
                    label(for="pincode").pinlabel Search: 
                    input(type="text" ,name="pincode", placeholder="Pincode") 

                    button.btnpin(type="submit") Submit 

            div
                if pins.length > 0
                    div(style="display:flex; justify-content:center; padding: 15px")
                        img.pinmap(style = "border:2px solid white; border-radius:5px; height: 300px; width:300px", src="tn-map.gif", alt="TN-Pincodes")
                    div.pintable
                        table(style = "color: white") 
                            caption Available:
                                each pin in pins    

                                        tr.rowpin 
                                            td #{pin} 
                else    
                    p No available donors at the moment