<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOODPATH</title>
</head>
<body>
    <header>
        <nav>
            <li>
                <ul href = '/'>Bloodpath</ul>
                <ul><a href = '/login'>Login</a></ul>
                <ul><a href = '/register'>Register</a></ul>
            </li>
        </nav>
    </header>
    <main>
        <h2>Click Login or Register in the heading</h2>
    </main>
</body>
</html>