doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home 
        link(rel="stylesheet", href="/css/index.css")
    body 
        header.main-header 
            nav.main-nav 
                ul.main-list    
                    li.item1 
                        a(href="/") Bloodpath 
                    li.item 
                        a(href="/login") Login
                    li.item 
                        a(href="/register") Register       
        form(action="/searchpincode" ,method="POST")
            label(for="pincode") Search Pincode: 
            input(type="text" ,name="pincode") 

            button(type="submit") Submit 

        div
            if pins.length > 0
                img(src="tn-map.gif", alt="TN-Pincodes")
                table 
                    caption Available Donors at:
                        each pin in pins    

                                tr 
                                    td #{pin} 
            else    
                p No available donors at the moment