doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home 
        link(rel="stylesheet", href="/css/index.css")
    body 
        header.main-header 
            nav.main-nav 
                ul.main-list    
                    li.item1 
                        a(href="/") Bloodpath 
                    li.item 
                        a(href="/login") Login
                    li.item 
                        a(href="/register") Register  
        div.main-content
            p.pincaption Enter your Pincode to search for nearby Donors
            div.pinform
                 
                form(action="/searchpincode" ,method="POST")
                    label(for="pincode").pinlabel Search: 
                    input(type="text" ,name="pincode", placeholder="Pincode") 

                    button.btnpin(type="submit") Submit 

            div
                if pins.length > 0
                    
                    div.hgInner
                        img.pinmap(style = "border:1px solid white; border-radius:5px; height: 500px; width:700px", src="tn-map.gif", alt="TN-Pincodes")
                    div(style="display:flex; justify-content:center; padding: 5px")
                        p(style = "color:white; font-weight: bolder") Available Donors currently at Pincodes:
                    div.pintable
                        - var count = 0;
                        p
                            each pin in pins 
                                span.pinrow #{pin}
                                - count = count +1
                                if count == 8
                                    br 
                                    - count = 0
                else    
                    p(style="margin-block-end: 0em; color:whitesmoke; display:flex; font-weight:bolder; justify-content: center") No available donors at the moment

                    .quote
                        p.quote-content 
                            em "A drop of blood can save a life!
                        p.quote-content  
                            em Don't waste it and donate blood."
        
        footer.main-footer 
            p EIE 6th Sem 
